.DS_Store
**/.DS_Store

*_log.txt
**/_log.txt
*.log
*.asv

*.mat
*.fig
*.eps
*.zip

FFWD_NN_IncomeRisk/**/fig*.pdf
FFWD_NN_IncomeRisk/**/g*.pdf
FFWD_NN_IncomeRisk/**/h*.pdf
FFWD_NN_IncomeRisk/1_check_SSSs/*.pdf

tmp/
